# files
dist/

# dotenv environment variables file
.env
.env.test

# Optional eslint cache
.eslintcache

# Optional npm cache directory
.npm

# Dependency directories
node_modules/

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Logs
logs
*.log
npm-debug.log*